body {
	margin: 0;
	padding: 0;
}

table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
}

.left-padding {
	width: 15px;
	max-width: 15px;
}

.main-table {
	width: 100%;
	table-layout: fixed
}

.header {
	width: 100%;
	height: 208px;
	background-color: #fff;
}

.header__inner {
	height: 100%;
	width: 100%;
}

.header__content-wrapper {
	background-image: url(http://mcnp.ru/upload/letter-header-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto 170px;
	background-position: center top;
}

.header__content {
	text-align-last: left;
	width: 600px;
}

.main {
	background-color: #fff;
}

.main__inner {
	width: 600px;
	text-align-last: left;
}

.main__inner>tr>td {
	text-align: left;
}

.main__title {
	font-size: 34px;
	font-weight: 400;
}

.main__subtitle {
	font-size: 24px;
	font-weight: 700;
}

.main__top-text {
	text-align: left;
}

.main__text {
	font-size: 20px;
	text-align-last: left;
}

.main__text-link {
	font-weight: 700;
	color: #c01e1e;
	text-decoration: none;
}

.main__button {
	width: 100%;
	text-decoration: none;
	display: block;
	height: 55px;
}

.main__button-wrap {
	width: 100%;
	background-color: #d52a2a;
	vertical-align: middle;
}

.main__button-text {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	text-align-last: center;
	height: 55px;
	vertical-align: middle;
}

.footer {
	background-color: #333333;
}

.footer__padding-top {
	height: 25px;
	width: 100%;
}

.footer__padding-bottom {
	height: 14px;
	width: 100%;
}

.footer__inner {
	width: 600px;
	text-align: left;
}

.footer-col {
	width: 50%;
	vertical-align: top;
}

.footer-col__inner {
	height: 100%;
}

.footer__social-padding {
	width: 4px;
	height: 100%;
}

.footer__title-top {
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	line-height: 1.5;
}

.footer__title {
	font-size: 20px;
	font-weight: 700;
	color: #858585;
	line-height: 1.2;
}

.footer__text {
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	line-height: 28px;
}

.footer__text-link {
	font-size: 18px;
	line-height: 28px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}

.unsubscribe {
	color: #666666;
	font-size: 12px;
	text-decoration: none;
}